<link rel="stylesheet" href="~/css/bootstrap.css">

<div>
<div class="container">
    <a href="/">
        <h1>Name Picker!</h1>
    </a>
    </div>
    </div>

<div class="container">
    @RenderBody()
</div>

    <script src="~/js/bootstrap.js"></script>
