@model Site.Models.WinningNameModel

<h2 class="text">The winner is...</h2>

<h2 class="text">@Model.Name</h2>

<a href="/" class="name">
    <div class="dark fakebutton">
        <h2>Pick again</h2>
    </div>
</a>