@using Microsoft.AspNetCore.Mvc @model Site.Models.HomeModel

<form asp-controller="Home" asp-action="Index" method="post" id="usrform">
    <!-- Input and Submit elements -->
    <div>
        <textarea rows="4" cols="50" name="EnteredNames" form="usrform">Enter your names here...</textarea>
    </div>
    <div>
        <button type="submit">Pick a winner</button>
    </div>
</form>