@using Microsoft.AspNetCore.Mvc @model Site.Models.HomeModel

<form asp-controller="Home" asp-action="Index" method="post" id="usrform">
    <!-- Input and Submit elements -->
    <div>
        <textarea class="name-area" rows="4" cols="50" 
        name="EnteredNames" form="usrform" placeholder="Enter your names here...&#13;&#10;One name on each line..."></textarea>
    </div>
    <div>
        <button class="dark pick name" type="submit">Pick a winner</button>
    </div>
</form>